.root {
  background-color: #fff;
  min-height: 80vh;
  .search-user {
    padding: 20px;
    .search-user-form {
      margin-right: 40px;
      min-width: 250px;
    }
  }
  .feature-button {
    padding: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: row-reverse;
    button {
      margin-right: 10px;
    }
  }
  .operating {
    a {
      margin-right: 5px;
    }
  }
}